img{
  display: block;
  margin: auto;
  max-width: 80%;
}
p{
  text-align: center;
}

.row{
  margin-bottom: 15px;
}

.update-text{
  font-size: 14pt;
  padding: 30px 0 0px 0;
}

.form-horizontal{
width: 90%;
margin: auto;
padding: 10px;
border: 1px solid grey;
border-radius: 40px;
max-width: 300px;
  & input{
    display: inline-block;
    font-weight: 700;
    background: none;
    border: none;
    width: 75%;
    &[type="submit"]{
      overflow: visible;
      width: 20%;
      margin-right: 5px;
      color: #1891FB;
      display: inline-block;
      transition: all .1s ease-in-out;
      &:focus{
        outline: none;
        color: #156ab5;
        font-weight: 800;
      }
    }
    &:focus{
      outline: none;
    }
  }
}